.skills {
  margin: 4.8rem 0;
  h2{
    font-size: clamp(28px,8vw,43px);
    max-width: 29ch;
    // margin: 0 auto;
    // text-align:center;
  }
  .row {
    margin: 4.8rem 0;
    --bs-gutter-x: 0rem;  
    flex-direction: row;
    
    h3{
      color:var(--slate);
      font-size: 2rem;

    }
    .col{
      margin-bottom: 4.8rem;
      img{
        width:80%;
      }
    }
    ul {
      display: grid;
      grid-template-columns: repeat(2, minmax(140px, 200px));
      padding: 0px;
      margin: 20px 0px 20px;
      overflow: hidden;
      list-style: none;
      padding-left: 1rem;
      li {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        font-family: var(--font-mono);
        font-size: var(--fz-md);
        &::before {
          content: "▹";
          position: absolute;
          left: 0px;
          color: var(--green);
          font-size: var(--fz-sm);
          line-height: 12px;
        }
      }

      img {
        max-width: 100%;
      }
    }
  }
}
