
.carousel-control-next, .carousel-control-prev {
    justify-content: start;
    opacity: 1;
     top: 25rem;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    left: 60px;
}